body {
  height: 1280px;
  /*background-color: #7FDBFF;*/
  background: url("./img/nature.jpg");
  background-repeat-y: no-repeat;
  background-repeat: no-repeat;
  background-size: 100% auto;

  color:yellow;
  text-shadow:  2px 2px #ff0000;

}

#rockImage{
  width:100px;
  height:100px;
  display:none;
}
#fireImage{
  width:100px;
  height:100px;
  display:none;
}
#boxImage{
  width:100px;
  height:100px;
  display:none;
}

#enemyRockImage{
  width:100px;
  height:100px;
  display:none;
}
#enemyFireImage{
  width:100px;
  height:100px;
  display:none;
}
#enemyBoxImage{
  width:100px;
  height:100px;
  display:none;
}
#enemyRockImage2{
  width:100px;
  height:100px;

}
#enemyFireImage2{
  width:100px;
  height:100px;

}
#enemyBoxImage2{
  width:100px;
  height:100px;

}

#status-area{
  display:none;
}

#chooseEnemy{
  display:none;
}
#enemy{
  display:none;
}

#battle-btns{
  display:none;
}
